:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  color: #242424;
  background-color: rgba(245, 245, 220, 0.76);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}